include voteUI
mixin suggestion(data)
  div.suggestion
    +voteUI("0_" + data.id, data.score, data.dir, user)
    if data.thumb
      img(src=data.thumb)
    else
      img(src="uploads/default.png")
    div.suggestionBody
      a(href=data.href)
        span.title #{data.title}
      div.descr #{data.descr}

doctype html
html
  include head
  body
    #body
      include header
      if user
        h2 Logged as #{user.name}&nbsp;
        button.big(onclick="location.href='/submit'") Submit
        button.big(onclick="location.href='/p/"+user.id+"'") Profile
        button.big(onclick="location.href='/preferences'") Preferences
        button.big(onclick="location.href='/logout'") Log Out
      br
      if suggestions && suggestions.length
        h2
          | Suggestions&nbsp;
          if tag
            | tagged as #{tag}&nbsp;
          |(#{suggestions.length})
        each s in suggestions
          +suggestion(s)
      else
        h2 No suggestions for you right now...
      if !user
        h2 Do you want custom suggestions?
        br
        form(name="register" action="/register" method="POST")
          input.big(type="text" name="username" placeholder="Username" required)
          input.big(type="submit" value="Register")
    script(src="/libs/jquery.js")
    script(src="/view/scripts/voteUI.js")
