include suggestionUI

doctype html
html
  include head
  body
    #body
      include header
      if user
        h2 Logged as #{user.name}&nbsp;
        button.big(onclick="location.href='/submit'") Submit
        button.big(onclick="location.href='/p/"+user.id+"'") Profile
        button.big(onclick="location.href='/preferences'") Preferences
        button.big(onclick="location.href='/logout'") Log Out
      br
      if user && tag
        button.follow
          | Follow&nbsp;
          span.tagText #{tag}
        br
      if suggestions && suggestions.length
        h2
          | Suggestions&nbsp;
          if tag
            | tagged as #{tag}&nbsp;
          |(#{suggestions.length})
        + suggestionUI(suggestions, typeof(user) !== "undefined")
      else
        h2 No suggestions for you right now...
      if !user
        h2 Do you want custom suggestions?
        br
        form(name="register" action="/register" method="POST")
          input.big(type="text" name="username" placeholder="Username" required)
          input.big(type="submit" value="Register")
    script.
      var cid = "#{cid}";
    script(src="/libs/jquery.js")
    script(src="/view/scripts/discoverScript.js")
    script(src="/view/scripts/voteUI.js")
