include voteUI
mixin suggestion(data)
  div.suggestion(sid=data.id)
    if user
      +voteUI(data.upvotes, data.dir)
    a(href=data.href)
      span.title #{data.title}
    br
    div.descr #{data.descr}

doctype html
html
  include head
  body
    include header
    if user
      h2 Logged as #{user.name}
      button.big(onclick="location.href='/submit'") Submit
      button.big(onclick="location.href='/logout'") Log Out
    if suggestions && suggestions.length
      h2 Suggestions (#{suggestions.length})
      each s in suggestions
        +suggestion(s)
    else
      h2 No suggestions for you right now...
    if !user
      h2 Do you want custom suggestions?
      form(name="register" action="/register" method="POST")
        input.big(type="text" name="username" placeholder="Username" required)
        input.big(type="submit" value="Register")

    script(src="/libs/jquery.js")
    script(src="/view/scripts/voteUI.js")
