include voteUI
include commentUI
include editUI

mixin comment(c)
  div.comment
    +voteUI("1_" + c.id, c.score, c.dir, user)
    b 
      a(href="/p/"+c.authorId) #{c.author}
      | &nbsp;at #{c.time}
    | :&nbsp; #{c.content}
    | &nbsp;

doctype html
html
  include head
  body
    include header
    +voteUI("0_" + sid, score, voteDir, user)
    div#suggestionBody
      h2 #{title}
      p#descr #{descr}
      p 
        | By&nbsp;
        a(href="/p/"+author) #{authorName}
        if user.id == author
          a.editLink(href="javascript:void(0)") Edit
    if published
      h2 Comments
      form(action="/comment" method="POST")
        input(type="hidden" name="suggestionId" value=sid)
        textarea.big(name="content" placeholder="Comment this entry" required)
        input.big(type="submit" value="Send" title="Send your comment (Ctrl+Enter)")
      div#comments
        if comments && comments.length
          each c in comments
            div.commentThread
              +comment(c)
              div.replies(cid=c.id)
                each child in c.children
                  +comment(child)
                if user
                  a(href="javascript:void(0)" onclick="reply(event)") reply
        else if user
          p Be the first to comment!
      +commentUI(sid)
    else
      button.big#publishButton Publish
    +editUI("test")
    script(src="/libs/jquery.js")
    script(src="/view/scripts/suggestionScript.js")
    script(src="/view/scripts/voteUI.js")