include head
include voteUI
include editUI
include tagUI

mixin photo(p, hidden)
  div.photo(draggable="false" pid=p.id style=hidden?"display: none":"")
    img.photoImg(src=p.path draggable="false")
    div.photoOverlay
      img.dragHandle(src="/view/svg/drag.svg" draggable="false")
      img.deleteButton(src="/view/svg/delete.svg" draggable="false")

mixin newPhoto()
  form#newPhoto(enctype="multipart/form-data" style="display: none")
    h3 New photo
    br
    input.big(type="file" name="photo" id="photo" accept=".png,.bmp,.jpeg,.jpg,.gif")
    button From an URL
    input.big(type="text" name="url" placeholder="Paste your URL" style="display: none" autocomplete="off")
    br
    label(for="photo") From your computer
    br
    span.error(style="visibility: hidden")

mixin reportUI(options)
  form.reportContainer(class!=attributes.class action="" style="display: none")
    each option in options
      label
        input(type="radio" name="report" value=option.value)
        | #{option.text}
        br
    label
      input(type="radio" name="report" value="other")
      | Other&nbsp;
    input.reportOtherInput(type="text" name="message" placeholder="Reason" required autocomplete="off" style="display: none")
    br
    input(type="submit" value="submit" onclick="reportSubmit(event)")

mixin comment(c, hidden)
  div.comment(style=hidden?"display: none":"")
    + voteUI("1_" + c.id, c.score, c.dir, user)
    div.commentContainer
      div.commentHeader
        b
          if(c.author)
            a(href="/p/"+c.authorId) #{c.author}
          else
            | [deleted]
          | &nbsp;at #{c.time}
      p.commentBody
        | #{c.content}
      div.commentFooter
        a(href="javascript:void(0)" onclick="report(event)" cid=""+c.id) Report
        if c.authorId == user.id
          | &nbsp;
          a(href="javascript:void(0)" onclick="editComment(event)") Edit
      div.commentFooter.editFooter(style="display: none")
        a(href="javascript:void(0)" onclick="saveCommentEdit(event)" cid=""+c.id) Save
        | &nbsp;
        a(href="javascript:void(0)" onclick="cancelCommentEdit(event)") Cancel

mixin commentUI(isReply)
  div.commentUI(style=isReply?"display:none":"")
    div.textarea(contentEditable="true")
    br
    button(title="Send your comment (Ctrl+Enter)" onclick="sendComment(event)") Send comment
    if isReply
      button(title="Cancel (Esc)" onclick="cancelComment(event)") Cancel

- var isAuthor = user && user.id == author

doctype html
html
  +head()
  body
    div#dark
    #body
      include header
      div.indented
        + voteUI("0_" + sid, score, voteDir, user)
        h2 #{title}
      div#suggestionBody
        | Tags:&nbsp;
        + tagsUI(tags, true, "+New")
        div#photos
          div#photosGrid
            + photo({}, true)
            if photos && photos.length
              each p in photos
                + photo(p)
            if isAuthor
              + newPhoto()
          button#morePhotos(style="display: none") More
        div#description
          p(contentEditable="false") #{descr}
        div#suggestionBar
          span#info
            span#author
              | By&nbsp;
              if author != null
                a(href="/p/"+author) #{authorName}
              else
                | [deleted]
            | &nbsp;
            a(href="javascript:void(0)" onclick="report(event)") Report
            | &nbsp;
          if isAuthor
            button#editButton Edit
          br
        + reportUI([{value: "spam", text: "This suggestion is spam"},
                    {value: "inappropriate", text: "This suggestion is inappropriate"},
                    {value: "private info", text: "This suggestion contains personal/private information"},
                    {value: "not an experience", text: "This suggestion doesn't describe an experience"}])(class="reportSuggestion")
        + reportUI([{value: "spam", text: "This comment is spam"},
                    {value: "inappropriate", text: "This comment is inappropriate"},
                    {value: "private info", text: "This comment contains personal/private information"}])(class="reportComment")
      if published
        div#publishedContainer
          h2.indented Comments
          br
          + commentUI()
          div#comments
            if comments && comments.length
              each c in comments
                div.commentThread
                  + comment(c)
                  div.replies(cid=c.id)
                    each child in c.children
                      + comment(child)
                    if user
                      a(href="javascript:void(0)" onclick="reply(event)") reply
            else if user
              p Be the first to comment!
          + commentUI(true)
          + comment({}, true)
      else
        button.big#publishButton Publish
    script.
      var maximumPhotos = "#{maximumPhotos}";
    script(src="/libs/jquery.js")
    script(src="/view/scripts/location.js")
    script(src="/view/scripts/tagScript.js")
    script(src="/view/scripts/suggestionScript.js")
    script(src="/view/scripts/voteUI.js")
