extends layout.pug

include voteUI
include editUI
include tagUI
include comment

mixin photo(p, hidden)
  div.photo(draggable="false" pid=p.id style=hidden?"display: none":"")
    img.photoImg(src=p.path draggable="false")
    div.photoOverlay
      img.dragHandle(src="/view/svg/drag.svg" draggable="false")
      img.deleteButton(src="/view/svg/delete.svg" draggable="false")

mixin newPhoto()
  form#newPhoto(enctype="multipart/form-data" style="display: none")
    h3 New photo
    br
    input.big(type="file" name="photo" id="photo" accept=".png,.bmp,.jpeg,.jpg,.gif")
    button From an URL
    input.big(type="text" name="url" placeholder="Paste your URL" style="display: none" autocomplete="off")
    br
    label(for="photo") From your computer
    br
    span.error(style="visibility: hidden")

mixin reportUI(options)
  form.reportContainer(class!=attributes.class action="" style="display: none")
    each option in options
      label
        input(type="radio" name="report" value=option.value)
        | #{option.text}
        br
    label
      input(type="radio" name="report" value="other")
      | Other&nbsp;
    input.reportOtherInput(type="text" name="message" placeholder="Reason" required autocomplete="off" style="display: none")
    br
    input(type="submit" value="submit" onclick="reportSubmit(event)")

mixin commentUI(isReply)
  div.commentUI(style=isReply?"display:none":"")
    div.textarea(contentEditable="true")
    br
    button(title="Send your comment (Ctrl+Enter)" onclick="sendComment(event)") Send comment
    if isReply
      button(title="Cancel (Esc)" onclick="cancelComment(event)") Cancel

block content
  - var isAuthor = user && user.id == author
  div.indented
    + voteUI("0_" + sid, score, voteDir, user)
    h2 #{title}
  div#suggestionBody
    | Tags:&nbsp;
    + tagsUI(tags, true, "+New")
    div#photos
      div#photosGrid
        + photo({}, true)
        if photos && photos.length
          each p in photos
            + photo(p)
        if isAuthor
          + newPhoto()
      button#morePhotos(style="display: none") More
    div#description
      p(contentEditable="false") #{descr}
    div#suggestionBar
      span#info
        span#author
          | By&nbsp;
          if author != null
            a(href="/p/"+author) #{authorName}
          else
            | [deleted]
        | &nbsp;Last updated&nbsp;
        | #{moment(timeUpdated).format("llll")}&nbsp;
        a(href="javascript:void(0)" onclick="report(event)") Report
        | &nbsp;
      if isAuthor
        button#editButton Edit
      br
    + reportUI([{value: "spam", text: "This suggestion is spam"},
                {value: "inappropriate", text: "This suggestion is inappropriate"},
                {value: "private info", text: "This suggestion contains personal/private information"},
                {value: "not an experience", text: "This suggestion doesn't describe an experience"}])(class="reportSuggestion")
    + reportUI([{value: "spam", text: "This comment is spam"},
                {value: "inappropriate", text: "This comment is inappropriate"},
                {value: "private info", text: "This comment contains personal/private information"}])(class="reportComment")
  if published
    div#publishedContainer
      h2.indented Comments
      br
      div.dropdown(style="display: none")
      if user
        + commentUI()
      div#comments
      if user
        + commentUI(true)
  else
    button.big#publishButton Publish

block scripts
  script.
    var maximumPhotos = "#{maximumPhotos}";
    var cid = "#{cid}";
    var sid = "#{sid}";
  script(src="/libs/jquery.js")
  script(src="/view/scripts/location.js")
  script(src="/view/scripts/tagScript.js")
  script(src="/view/scripts/suggestionScript.js")
  script(src="/view/scripts/voteUI.js")
